In [67]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import pymongo

Step 1 - Scraping

In [84]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

NASA Mars News

In [172]:
url = 'https://redplanetscience.com'
browser.visit(url)

In [173]:
# Converting the browser html to a soup object
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')
slide_elem

<div class="list_text">
<div class="list_date">August 7, 2022</div>
<div class="content_title">Alabama High School Student Names NASA's Mars Helicopter</div>
<div class="article_teaser_body">Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.</div>
</div>

In [33]:
# Scraping the correct items
slide_elem.find('div', class_='content_title')

In [47]:
# Scraping the correct items
slide_elem.find('div', class_='article_teaser_body')

In [69]:
# Saved as Variables
news_title = slide_elem.find('div', class_='content_title')
news_p = slide_elem.find('div', class_='article_teaser_body')

JPL Mars Space Images - Featured Image

In [85]:
# New Url
url2 = 'https://spaceimages-mars.com'
browser.visit(url2)

In [66]:
# Converting the browser html to a soup object
html2 = browser.html
pic_soup = soup(html2, 'html.parser')

In [174]:
# Scraping the correct items
img1 = pic_soup.find_all('img')[1]["src"]
img1

'image/featured/mars2.jpg'

In [175]:
# Saving full web address to variable
featured_image_url = url2 + "/" + img1
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

Mars Facts

In [133]:
# New Url
url3 = 'https://galaxyfacts-mars.com'
browser.visit(url3)

In [136]:
# Using read_html to bring in any tables from the website
facts_table = pd.read_html(url3)
facts_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [143]:
type(facts_table)

list

In [178]:
# Selecting the table I want to use
mars_df = facts_table[1]
mars_df.head(10)

                                               Mars
Label
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [158]:
# Use Pandas to convert the data to a HTML table string
html_mars_table = mars_df.to_html(classes = 'table table-striped')

Mars Hemispheres

In [169]:
# New Url
url4 = 'https://marshemispheres.com'
browser.visit(url4)

In [170]:
# Created a loop to get the images and the title. 
hemisphere_image_urls = []

links = browser.find_by_css('a.product-item img')

for x in range(len(links)):
    hemisphere = {}
    browser.find_by_css('a.product-item img')[x].click()
    element = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = element['href']
    hemisphere['title'] = browser.find_by_css('h2.title').text
    hemisphere_image_urls.append(hemisphere)
    browser.back()

In [171]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]